# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle markdown-toc-plus'
      'command': [
          'markdown-toc-plus:toggle'
        ]
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'markdown-toc-plus'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'markdown-toc-plus:toggle'
        }
      ]
    ]
  }
]
